.banner {
  height: 223px;
  max-width: 1240px;
  margin: 0 auto 40px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.35);
  background-blend-mode: darken;

  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: white;
    font-size: 48px;
    font-weight: 700;
  }
}
