.collapse {
  width: 70%;
  margin: 25px auto;
}

.collapse-header {
  background-color: #ff6060;
  color: white;
  height: 47px;
  padding: 0 18px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    font-size: 18px;
    font-weight: 700;
  }
}

.collapse-arrow {
  display: inline-block;
  cursor: pointer;
  font-size: 24px;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.collapse-arrow.open {
  transform: rotate(-90deg);
}

.collapse-content {
  background-color: #f6f6f6;
  padding: 18px;
  font-size: 16px;
  line-height: 1.4;
  border-radius: 0 0 5px 5px;
}
@media (max-width: 768px) {
  .collapse {
    width: 100%;
  }

  .collapse-header {
    height: 30px;
  }

  .collapse-header h3 {
    font-size: 13px;
  }

  .collapse-arrow {
    font-size: 20px;
  }

  .collapse-content {
    font-size: 12px;
  }
}
