.about {
  max-width: 1240px;
  margin: 0 auto;
  min-height: calc(100vh - 375px);
}

.about-collapses {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .about {
    padding: 0 20px;
    min-height: auto;
  }

  .about-collapses {
    margin-bottom: 30px;
  }
}
